/* NAVBAR*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}


.index_page{
    background-size: cover;
    height: 115vh;
    background: linear-gradient(-45deg, #ff8a00, aquamarine);
    overflow: hidden;
}


nav{
    background: #1b1b1b;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: aquamarine;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;

}

nav ul li a:hover{
    color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 0 5px aquamarine,
                0 0 5px aquamarine;    
}

nav ul ul li a:hover{
    color: orange;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid aquamarine;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid aquamarine;
}

nav ul ul li a{
    line-height: 50px;
}

.show, .icon, input{
    display: none;
}


.center{
    position: absolute;
    padding: 20% 20%;
    text-align: center;
}

.center h1{
    text-align: center ;
    text-transform: uppercase;
}

.center a{
    border: 4px solid;
    padding: 2% 8%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    margin-top: 5%;
    display: inline-block;
    border-radius: 20px;
    color: #1b1b1b;
}

.center a:hover{
    color: green;
}

#index_bilder {
    background: linear-gradient( 90deg, orange, aquamarine);
    width: 100%;
    display: flex;
    align-content: end;
    justify-content: space-around;
    padding: 1% 1% 1% 1%;

}

#index_bilder img{
    height: 20%;
    width: 20%;
}

    

    /* AKTIVITETER telefon*/
    .cards{
        justify-content: center;
        height: 100px;
    }

    #aktiviteter_body{
        height: 100vh;
        background: linear-gradient(-45deg, #ff8a00, aquamarine);
    }

    /* OM OSS telefon*/

    .omoss_page{

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .historia{
        grid-area: goal;
        background-color: #242323;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 2px;
    }

    .omoss-titel{
        margin-bottom: 1em;
        font-size: medium;
    }

    .omoss-text{
        font-size: small;
        line-height: smaller;

    }




/* OM OSS SIDA */

.omoss_page{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'hst historiabild'
    'goalbild historiabild'
    'goalbild goal ' ;
    padding: 1em 1em 1em 1em;
    row-gap: 1em;
    column-gap: 1em;
    background: linear-gradient(-45deg, #ff8a00, aquamarine);
    overflow: hidden;
}

.omoss-text{
    color: #f2f2f2;
    font-size: 15px;
}

.omoss-titel{
    color: aquamarine;
    font-size: 20px;
}
.historia{
    grid-area: hst;
    background-color: #242323;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 3em;
}

.historiabild{
    grid-area: historiabild;
}

.historiabild img{
    height: 100%;
    width: 100%;
}

.goal{
    grid-area: goal;
    background-color: #242323;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 3em;
}

.goalbild{
    grid-area: goalbild;
}

.goalbild img{
    height: 100%;
    width: 100%;
}

/* AKTIVITETER*/


#aktiviteter_body{
    background-image: url(../img/LED.jfif);
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(-45deg, #ff8a00, aquamarine);
    /* background-size: 600% 600%; */
    animation: gradient 15s ease infinite;
    height: 100vh;
    
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr)); 
    padding: 2.4em;
    grid-gap: 2.4em;
    padding-left: 9em;
}

.card{
    background-color: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    width: 80%;
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    width: 100%;
}

.container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    
}



.details{
    content: center;
    color: #f2f2f2;
    
}

.cards p{
    padding: 20px;
}

.cards h3{
    padding: 20px;
}


/* KONTAKTA */
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ff8a00, aquamarine );
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem; 
    padding: 0 10%;
}
/* section{
    padding: 0 10%;
} */

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-text h1{
   font-family: 'Permanent Marker', cursive; 
   font-size: 90px;
   line-height: 1;
   margin: 0 0 45px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-text a{
    display: inline-block;
    background: #242323;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
}

.hero-text a:hover{
    background: rgb(74, 71, 61);
    transform: translateX(4px);
}
.hero-img img{
    width: 700px;
    height: auto;
}
@media only screen and (max-width: 768px) {
    nav ul{
        float: left;
        margin-right: 0;
    }
    nav.logo{
        width: 100%;

    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    nav ul ul a{
        padding-left: 30px;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding-left: 0px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: aquamarine;
    }

    .hide{
        display: none;
    }
    
    .icon {
        display: block;
        color: white;
        position: absolute;
        padding: 10px, 10px, 10px, 10px;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        float: right;
    }
    

    .hej{
        display: none;
    }
    nav ul li a:hover{
        box-shadow: none;
    }

    [id^=btn]:checked + ul {
        display: block;

    }

    #aktiviteter_body{
        height: 275vh;
    }

    /* KONTAKT */
    
}