/* NAVBAR*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}

nav{
    background: #1b1b1b;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: aquamarine;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;

}

nav ul li a:hover{
    color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 0 5px aquamarine,
                0 0 5px aquamarine;    
}

nav ul ul li a:hover{
    color: orange;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid aquamarine;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid aquamarine;
}

nav ul ul li a{
    line-height: 50px;
}

.show, .icon, input{
    display: none;
}


@media only screen and (max-width: 768px) {
    nav ul{
        float: left;
        margin-right: 0;
    }
    nav.logo{
        width: 100%;

    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    nav ul ul a{
        padding-left: 30px;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding-left: 0px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: aquamarine;
    }

    .hide{
        display: none;
    }
    
    .icon {
        display: block;
        color: white;
        position: absolute;
        padding: 10px, 10px, 10px, 10px;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        float: right;
    }
    

    .hej{
        display: none;
    }
    nav ul li a:hover{
        box-shadow: none;
    }

    [id^=btn]:checked + ul {
        display: block;

    }

    /* AKTIVITETER telefon*/
    .cards{
        justify-content: center;
        height: 100px;
    }
}

/* INDEX SIDA */

.index_page{
    /*background: url(../img/hall.avif);
    background-size: cover;
    height: 91.3vh;*/
    height: 100vh;
    background: linear-gradient(90deg,aquamarine,#ff8a00);
    height: 100vh;
}

@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}



/* OM OSS SIDA */

.omoss_page{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
    grid-template-areas: 
    'nav nav'
    'hst historiabild'
    'goalbild goal ' ;
}

.historia{
    grid-area: hst;
    background-color: aquamarine;
    display: flex;
}

.historiabild{
    grid-area: historiabild;
    background-color: aqua;
    background-image: url(../img/owen-lystrup-boLgiM0qwkg-unsplash.jpg);
}

.goal{
    grid-area: goal;
    background-color: aquamarine;
}

.goalbild{
    grid-area: goalbild;
    background-color: aquamarine;
}

/* AKTIVITETER*/


#aktiviteter_body{
    /*background-color: #151320;*/
    /* height: 100vh;
    display: grid;
    place-items: center center;
    background-image: url(../img/LED.jfif);
    font-family: 'Poppins',sans-serif;
    max-height: 100vh; */
    
    background: linear-gradient(-45deg, #ff8a00, aquamarine);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    /* height: 100vh; */
    
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.titel1{
    display: block;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 40px;
    grid-gap: 40px;
}

.card{
    background-color: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.container img{
    width: 50%;
    display: block;
    border-radius: 20px 20px 0 0;
    
}

/* .card1{
    background-image: url(../img/VR.avif);
    background-size: cover;
} */



.details{
    content: center;
    color: #f2f2f2;
    
}

.cards p{
    padding: 20px;
}

.cards h3{
    padding: 20px;
}



/*.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card1>.container:after{
    background-image: linear-gradient(135deg, #0100ec. #fb36f4);*/