/* NAVBAR*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}

nav{
    background: #1b1b1b;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: aquamarine;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;

}

nav ul li a:hover{
    color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 0 5px aquamarine,
                0 0 5px aquamarine;    
}

nav ul ul li a:hover{
    color: aquamarine;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid aquamarine;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid aquamarine;
}

nav ul ul li a{
    line-height: 50px;
}

.show, .icon, input{
    display: none;
}


@media all and (max-width: 968px) {
    nav ul{
        float: left;
        margin-right: 0;
    }
    nav.logo{
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    nav ul ul a{
        padding-left: 40px;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: aquamarine;
    }

    .hide{
        display: none;
    }
    
    .icon {
        display: block;
        color: white;
        position: absolute;
        padding: 10px;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
   
    nav ul li a:hover{
        box-shadow: none;
    }

    [id^=btn]:checked + ul {
        display: block;

    }
}

/* INDEX SIDA */

.index_page{
    background: url(../img/outdoor-team-orienteering-activity_53876-41026.avif);
    background-size: cover;
    height: 100vh;
}



/* OM OSS SIDA */

.omoss_page{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
    grid-template-areas: 
    'nav nav'
    'hst historiabild'
    'goalbild goal ' ;
}

.historia{
    grid-area: hst;
    background-color: aquamarine;
}

.historiabild{
    grid-area: historiabild;
    background-color: aqua;
}

.goal{
    grid-area: goal;
    background-color: aquamarine;
}

.goalbild{
    grid-area: goalbild;
    background-color: aquamarine;
}

